.hide {
  animation: hide_slide 1s ease forwards;
  -webkit-animation: hide_slide 1s ease forwards;
}
.show {
  animation: show_slide 1s ease forwards;
  -webkit-animation: show_slide 1s ease forwards;
}
.msg-err {
  background-color: red !important;
  .fa-check-circle {
    color: white !important;
  }
  .fa-times-circle {
    color: white !important;
  }
  .msg {
    color: white !important;
  }
  .close-btn {
    background: red !important;

    color: white !important;
  }
  .close-btn:hover {
    color: #2b9964 !important;
  }
}
.msg-success {
  background: #c4f4d6 !important;
  .fa-check-circle {
    color: #2b9964 !important;
  }
  .fa-times-circle {
    color: #2b9964 !important;
  }
  .msg {
    color: #2b9964 !important;
  }
  .close-btn {
    background: #c4f4d6 !important;
    color: #2b9964 !important;
  }
  .close-btn:hover {
    color: tomato !important;
  }
}
.alert {
  display: flex;
  align-items: center;
  width: fit-content;
  position: fixed;
  top: 10px;
  right: 0;
  z-index: 1000;
  background: #c4f4d6;
  padding: 10px 40px;
  border-radius: 4px;
  border-left: 8px solid #ffa502;
  overflow: hidden;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);

  .fa-check-circle {
    color: #2b9964;
    font-size: 25px;
  }
  .fa-times-circle {
    color: #2b9964;
    font-size: 25px;
  }
  .msg {
    padding: 0 20px;
    font-size: 16px;
    color: #2b9964;
  }
  .close-btn {
    background: #c4f4d6;
    padding: 0px 20px;
    cursor: pointer;
    color: #2b9964;
    font-size: 22px;
  }
  .close-btn:hover {
    color: tomato;
  }
}
@keyframes show_slide {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
  }
}
@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
